@import "./functions";

.al-text-paragraph {
  &:first-of-type {
    padding-top: multiply(base-size, 0.5);
  }

  &:last-of-type {
    padding-bottom: multiply(base-size, 0.5);
  }

  & + & {
    padding-top: multiply(base-size, 0.5);
  }
}
